<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Infomation</title>
</head>
<body>
    <h1>
        Wather Report
    </h1>
    <form action="/get_weather_information" method="post" id="form">
        <input type="text", required name="city" placeholder="Search City">
        <button type="submit">Search</button>
    </form>
    <ul>
        {%for product in data&=%}
        <li>
            <strong></strong>
        </li>
    </ul>
</body>
</html>