:root {
  --white: #ffffff;
  --off-white: #e5e5e5;
  --transp-white-1: rgba(255, 255, 255, 0.25);
  --transp-white-2: rgba(255, 255, 255, 0.18);
  --blue-1: #62b8f5;
  --blue-2: #4475ef;
  --blue-3: #2a4c9c; /* Add your desired darker blue color */
  --blue-4: #1a3776; /* Add your desired darker blue color */
  --shadow: rgba(3, 46, 87, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 50%;
  background: var(--transp-white-2);
  backdrop-filter: blur(10px);
  margin: auto;
  padding: 2rem;
  border: 2px solid var(--transp-white-2);
  border-radius: 10px;
  color: rgb(5,41,51);
  height: auto;
  border: 2px solid var(--blue-4);

}

input, .btn::placeholder {
  background-color: transparent;
  padding: .5rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid white;
}

.btn {
  padding: .5rem 1rem;
  border: 2px solid #04009A;
  cursor: pointer;
  transition: .3s;
  color: var(--blue-2);
  background-color: transparent;
  border-radius: 0.3em;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: rgb(5,41,51);
  color: #fff;
}

.current-weather {
  background: var(--transp-white-1);
  backdrop-filter: blur(10px);
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px var(--shadow);
  border: 2px solid var(--blue-4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: auto;
}

.current-weather .content {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.current-weather .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


 .left-section {
  margin-top: auto;
  /* order: 3; */
}

.middle-section, .right-section {
  margin-left: 20px;
}



.middle-section h1, .middle-section h2 {
  font-size: 22px;
  font-weight: 500;
}

.middle-section h2 {
  font-size: 20px;
  font-weight: 300;
}

.right-section .right-w {
  text-transform: capitalize;
}
.right-section {
  align-items: center;

}

.right-section img {
  margin-bottom: 10px;
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

.weather-cards {
  display: flex;
  gap: 20px;
  flex-direction: row;
  padding: 1rem;
}

.weather-cards .card {
  list-style: none;
  padding: 18px 16px;
  border-radius: 5px;
  width: calc(100% / 5);
  align-items: center;
  background: var(--transp-white-1);
  border: 2px solid var(--blue-4);
  text-transform: capitalize;
  backdrop-filter: blur(10px);
}

.weather-cards .card img {
  margin-bottom: 10px;
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

body {
  background-image: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/advice/industry/weather-forecast-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
