:root {
    --white: #ffffff;
    --off-white: #e5e5e5;
    --transp-white-1: rgba(255, 255, 255, 0.25);
    --transp-white-2: rgba(255, 255, 255, 0.18);
    --blue-1: #62b8f5;
    --blue-2: #4475ef;
    --shadow: rgba(3, 46, 87, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 50%;
    background: var(--transp-white-2);
    backdrop-filter: blur(10px);
    margin: auto;
    padding: 2rem;
    border: 2px solid var(--transp-white-2);
    border-radius: 10px;
    color: rgb(5,41,51);
    height: auto;
}

input, .btn::placeholder {
    background-color: transparent;
    padding: .5rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid white;
}

.btn {
    padding: .5rem 1rem;
    border: 2px solid #04009A;
    cursor: pointer;
    transition: .3s;
    color: var(--blue-2);
    background-color: transparent;
    border-radius: 0.3em;
}

.btn:hover {
    transform: translateY(-3px);
    background-color: rgb(5,41,51);
    color: #fff;
}

.weather-container {
    margin-top: 2rem;
}

.current-weather, .forecast-day {
    background: var(--transp-white-1);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px var(--shadow);
}

.current-weather {
    border: 2px solid var(--blue-2);
}

.forecast-day {
    border: 1px solid var(--blue-1);
}

body {
    background-image: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/advice/industry/weather-forecast-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
